@import "icon.css";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

//Colors
$LuckyP:#fd4350;
$bcWhite: #f6f6f6;
$bgWhite:#ffffff;
$black:#494949;
$fblack:#a1a1a1;
$lblack:#d1d1d1;
// Styles

.bc-White {
    background-color: $bcWhite;
}

.bg {
    &-White {
        background-color: $bgWhite;
    }

    &-hotstone {
        background-color: $LuckyP;
    }
}



body {
    color: $black;
    font-family: 'Open Sans', sans-serif;
}

.txt {
    font-weight: 400;

    &-lit {
        font-weight: 300;
    }

    &-sBold {
        font-weight: 600;
    }

    &-rBold {
        font-weight: 700;
    }

    &-eBold {
        font-weight: 800;
    }

}

input {

    &:focus,
    &:active,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        box-shadow: 0 0 0px 1000px #0000 inset;
        -webkit-box-shadow: 0 0 0px 1000px #0000 inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &::-webkit-input-placeholder {
        box-shadow: none;
        transition: color 0.3s !important;
    }

    &:focus::-webkit-input-placeholder {
        color: transparent !important;
        box-shadow: none;
    }

    &[type="checkbox"]:checked {
        color: $LuckyP;
    }

}

a {
    &.on {
        &-white {
            color: $LuckyP
        }

        &-color {
            color: $black;

            &-w {
                color: $bgWhite;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }

}

.on {
    &-white {
        color: $black;
    }

    &-color {
        color: $bgWhite;

        &-w {
            color: $bgWhite;
        }
    }
}


.full-tall {
    height: 100vh;

    &::after {
        width: 100vw;
        height: 100vh;
        position: fixed;
        color: $LuckyP;
        text-align: center;
        font-size: 10em;
        font-family: 'Fugaz One', cursive;
    }
}

.decor {
    font-family: 'Fugaz One', cursive;
    width: 100vw;
    height: 100vh;
    position: absolute;

    .textLogo {
        color: $bgWhite;
        font-size: 20vw;
        line-height: 1;
        top: 0;
        padding: 0;
        margin: 0;
        text-align: center;
        text-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        ;
    }
}

.pill {
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

input {
    border-radius: 0;
}

.form {
    &-title {
        font-size: 1.4em;
        font-weight: 400;
        color: $black;
        position: relative;
        display: flex;
        justify-content: center;
        padding-bottom: 0.4em;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: $LuckyP;
            width: 1em;
            height: 2px;
        }
    }
}


.mCont {

    position: relative;
    z-index: 1;
    border-radius: 1.5em;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    transition: height 0.5s;

    &:after,
    &:before {
        top: 0px;
        content: "";
        width: 50%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    &::before {

        left: 0px;
        background-color: $LuckyP;
    }

    &::after {
        right: 0;
    }

    .login {
        border-radius: 1.5em;

        .input-group {
            border: 0;
            border-bottom: 1px solid $lblack;
            color: $fblack;

            &-text {
                border-radius: 0;
                border: unset;
                background-color: unset;
                color: inherit;
            }

            input {
                font-size: 1.1em;
                border: unset;
                box-shadow: none;
                background-color: -internal-light-dark(rgb(255, 255, 255, 0), rgba(0, 0, 0, 0.4)) !important;
                color: -internal-light-dark(black, white) !important;

            }
        }
    }

    .ffoot {
        font-size: 0.7rem;
    }
}

.itprix {
    font-family: 'Fugaz One', cursive;
}


// >> Text changing Animation. Not  Important

.sup {
    .hide {

        &-s {
            display: none !important;
        }
    }
}

.lgin {
    .hide {

        &-l {
            display: none !important;
        }
    }
}

.rcvr {
    .hide {

        &-r {
            display: none !important;
        }
    }
}
.smooth{
    transition: all 0.3s;
}
// << Text changing Animation. Not  Important

@media (max-width: 575.98px) {
    .mCont {
        &::before {
            height: 100%;
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .w {
        &-sm {
            &-25 {
                width: 25% !important;
            }

            &-50 {
                width: 50% !important;
            }

            &-75 {
                width: 75% !important;
            }

            &-100 {
                width: 100% !important;
            }
        }
    }
}

@media (min-width: 992px) {
    .w {

        &-md {
            &-25 {
                width: 25% !important;
            }

            &-50 {
                width: 50% !important;
            }

            &-75 {
                width: 75% !important;
            }

            &-100 {
                width: 100% !important;
            }
        }
    }

    .mCont {

        &::after,
        &::before {
            height: 100%;
            width: 50%;
        }
    }
}

@media (min-width: 1200px) {
    .w {

        &-lg {
            &-25 {
                width: 25% !important;
            }

            &-50 {
                width: 50% !important;
            }

            &-75 {
                width: 75% !important;
            }

            &-100 {
                width: 100% !important;
            }
        }
    }
}

@media (min-width: 1400px) {
    .w {

        &-xl {
            &-25 {
                width: 25% !important;
            }

            &-50 {
                width: 50% !important;
            }

            &-75 {
                width: 75% !important;
            }

            &-100 {
                width: 100% !important;
            }
        }
    }
}